!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http:{equiv: "Content-Type"}}/
    %title ChatSpace2
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', data:{turbolinks:{track: 'reload'}}
    = javascript_include_tag 'application', data:{turbolinks:{track: 'reload'}}
  %body
    = render 'layouts/notifications'
    = yield


/グループの作成時・編集時など、今後実装していく機能でもフラッシュメッセージを用いる可能性があるため、部分テンプレート化する
/フラッシュメッセージの日本語化のため、日本語ファイルをconfig/locales以下に配置
